@font-face {
	font-family: "OpenDyslexic-Regular";
	src: url(fonts/OpenDyslexic-Regular.otf);
}
@font-face {
	font-family: "OpenDyslexic-Bold";
	src: url(fonts/OpenDyslexic-Bold.otf);
}
@font-face {
	font-family: "OpenDyslexic-Italic";
	src: url(fonts/OpenDyslexic-Italic.otf);
}
@font-face {
	font-family: "OpenDyslexicMono-Regular";
	src: url(fonts/OpenDyslexicMono-Regular.otf);
}
@font-face {
	font-family: "OpenDyslexic-BoldItalic";
	src: url(fonts/OpenDyslexic-BoldItalic.otf);
}

.dysBtnTogglePanel{
	display: inline-block;
	order:4;
	width: 44px;
	padding: 4px 0 0 4px;
	margin-left: 10px;
	max-height: 42px;
	position: absolute;
	top: 0;
	left: 200px;
}
.scorm .dysBtnTogglePanel {
	left: 240px;
}
.scorm.emeraude .dysBtnTogglePanel {
	left: 280px;
}
.sco .dysBtnTogglePanel{
	left: 20px;
}
.dysBtnTogglePanel a{
	display: inline-block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	padding-left: 40px;
	overflow: hidden;
	background: url(img/menu-dys.svg) no-repeat top;
	background-size: 100%;
	background-position: 0px 0px;
}

.dysBtnTogglePanel a:hover{
	opacity: 0.9;
}
.dysPanelActive_true .dysBtnTogglePanel{
	background-color: var(--accentLightBG);
	border-radius: 0 0 30px 30px;
}
.dysPanelActive_true .dysBtnTogglePanel a{
	background-position: 0px -80px;
}

div.dysPanel{
	visibility:hidden;
	font-size: 0.8em;
	display:flex;
	padding: 0 calc(50vw - 650px) 0.5em calc(50vw - 320px);
}
.emeraude .zen_true div.dysPanel{
	padding: 0 calc(50vw - 650px) 0.5em calc(50vw - 650px);
}
.dysPanelActive_true .zen_true div.dysPanel {
	visibility:hidden;
}

div.dysPanel > span{
	flex: 1 1 auto;
	display:flex;
	justify-content: center;
	background-color: var(--accentLightBG);
	border-radius:0.5em;
	margin-right:1em;
}

.emeraude.dysPanelActive_true .zen_true div.dysPanel,
.dysPanelActive_true div.dysPanel {
	visibility:visible;
}
.dysPanelActive_true .zen_true div.dysPanel {
	visibility:hidden;
}
.dysBtnCheck_true,.dysBtnCheck_false {
	display: inline-block;
	padding-left: 20px;
	margin:0 5px;
	text-decoration: none;
	color: black;
	min-height:20px;
	line-height:20px;
}
.dysBtnCheck_true {
	background: url(img/chkOn.png) no-repeat center left;
}
.dysBtnCheck_false {
	background: url(img/chkOff.png) no-repeat center left;
}
.dysFontActive_true {
	font-family: "OpenDyslexic-Regular";
}
.dysFontActive_true #menu ul.mnu,
.dysFontActive_true .op_txt_is_quote,
.dysFontActive_true .op_labelTxt_is_quote,
.dysFontActive_true .op_clozeTxt_is_quote {
	font-family: "OpenDyslexic-Italic";
}
.dysFontActive_true header h1{
	line-height:1em;
}
.dysFontActive_true p{
	font-size: inherit;
}
.dysFontActive_true ul#accessibility{
	font-size:6pt;
}
.dysFontActive_true #titleRoot{
	font-size:0.9em;
}
.dysAltLineColor_true .dysColor_0{
	color:#DD0000;
}
.dysAltLineColor_true .dysColor_1{
	color:#00AA00;
}
.dysAltLineColor_true .dysColor_2{
	color:#0000FF;
}
.dysMoreSpace_true #content{
	line-height:1.5;
	word-spacing:0.6em;
}
.dysMoreSpace_true.dysFontActive_true #content{
	line-height:2;
}
.dysBtnFontLarger,
.dysBtnFontSmaller{
	position:absolute;
	width:20px;
	height:20px;
}
.dysFontSizer{
	display:inline-block;
	position:relative;
	background: url(img/fontSizer.png) no-repeat center center;
	margin:0 5px;
	height:20px;
	width:60px;
	min-width: 60px;
	line-height:20px;
}
.dysBtnFontSmaller{
	background: url(img/fontSmaller.png) no-repeat center left;
	margin-right:10px;
	left: 0;
}
.dysBtnFontLarger{
	right:0;
	background: url(img/fontLarger.png) no-repeat center left;
	margin-left:10px;
}
.dysBtnFontLarger span,
.dysBtnFontSmaller span{
	display: none;
}

@media (max-width: 1300px) {
	div.dysPanel{
		padding: 0 0 0.5em 1em;
	}
	.sco div.dysPanel{
		padding: 0 0 0.5em 1em;
	}
}