
:root{
  --fontStyle: sans-serif;
	--fontSize: 0.9; 
  --borderGradient: 0;
  --borderWidth: 1;
	--contentBG: white;
	--contentFG: black;
	--contentEmp: #434e52;
	--accentDarkBG: #434e52;
	--accentDarkBGalpha: #434e52aa;
	--accentDarkFG: white;
	--accentLightBG: #e0ecec;
	--accentLightBGalpha: #e0ecec60;
	--accentLightFG: black;
  --pBkOthers: #507c7c;
  --pBkOthersLight: #507c7c20;
  --pBkWarning: #D51921;
  --pBkWarningLight: #D5192150;
  --pBkBasic: #9F590E;
  --pBkBasicLight: #9F590E50;
	--footerBG: #f2f2f2;
	--footerFG: black;
}
